body {
    background-color: #EBCCA2;
    color: #0F1392;
}

header, nav, main, footer {
    text-align: center;
}

nav a { /* links within nav container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover { /*psuedo class*/
    border-bottom: 2px solid #A2C1EB;
    font-size: 2em;
    transition: .9s; /* transition effect */
}

/*nav home a {*/
/*    color: #0F1392;*/
/*}*/

main {
    display: flex;
    justify-content: center;
}

footer p {
    font-size: .7em;
    color: black;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: #0F1392;
}

#table-header {
    background-color: #BCBCBC;
}

.table-row {
    background-color: #E1E1E1;
}

 ul {
     width:500px;
     margin: 0 auto;
     text-align: left;
 }
 
 .hobby {
     color: brown;
 }
 
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}